* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.contact *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}
.logo{
height: 2.2rem;
text-decoration: none;
color: #845ef7;
text-transform: uppercase;
font-weight: 700;
font-size: 2.8rem;
}
.logo:hover{
  color: #b197fc
}
.section-hero {
  background-color: #e9ecef;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  display: grid;
  margin: 0 auto;
  padding: 0 3.2rem;
  grid-template-columns: 1fr;
  gap: 9.6rem;
  align-items: center;
}
.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.30;
  color: #333;
  letter-spacing: 0.5px;
  margin-bottom: 3.2rem;
}

.hero-description {
  font-size: 2.4rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  text-decoration: none;
  transition: all 0.3s;
  font-weight: 600;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
.btn--full:link,
.btn--full:visited {
  background-color: #845ef7;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #b197fc;
  color: #fff;
}
.btn--outline:link,
.btn--outline:visited {
  background-color: #845ef7;
  color: #fff;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #b197fc;
  color: #fff;
}


.margin-right-sm {
  margin-right: 1.6rem !important;
}

.section-about {
  padding: 9.6rem 0;
}
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  margin-bottom: 9.6rem;
}
.grid--1-cols {
  grid-template-columns: repeat(1, 1fr);
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

.link:link,
.link:visited {
  color: #cf711f;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  text-decoration: none;
  transition: all 0.3;
}
.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.center-text {
  text-align: center;
}

.grid:last-child {
  margin-bottom: 0;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.sticky .section-hero {
  margin-top: 9.6rem;
}
